[Unit]
Description=Bazarr Daemon
After=syslog.target network.target

[Service]
Type=simple
WorkingDirectory={{ bazarr_install_dir }}
User={{ bazarr_user.name }}
Group={{ bazarr_user.name }}
ExecStart=/usr/bin/python3 {{ bazarr_install_dir}}bazarr.py
TimeoutStopSec=20
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
